body {
  --color: rgb(12, 207, 12);
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  background-color: black;
}
* {
  font-family: monospace;
}
canvas {
  margin: auto;
  height: auto;
  width: 100%;
}
form {
  display: grid;
  grid-template-rows: 1fr auto;
}
* {
  font-family: monospace;
  scrollbar-color: var(--color) transparent;
  scrollbar-width: thin;
}
textarea {
  background-color: black;
  color: var(--color);
  border: none;
  border-top: 1px solid var(--color);
  outline: none;
  padding: 5px;
  white-space: pre;
  resize: none;
}
#submit {
  background-color: transparent;
  color: var(--color);
  border: none;
  border-top: 1px solid var(--color);
  cursor: pointer;
}

#submit:focus,
#submit:hover {
  background: var(--color);
  color: black;
  outline: none;
}
